
.forecast, .box, .content, h5, .image, .temperature{
  display: flex;
  justify-content: center;
}
h5, p{
  color: rgb(255, 255, 255);
}
.content, .box::before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.forecast{
  width: 1100px;
  margin: 0 auto 10px;
  padding-right: 50px;
}
.container{
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: 0 auto;
  padding-right: 0;
}

.container .box {
position: relative;
width: 123px;
height: 160px;
background: rgba(94, 87, 67, 0.137);
box-shadow:  0px 38px 10px rgba(26, 1, 23, 0.568),
inset 0px 4px 15px rgba(250, 205, 122, 0.705) ;
backdrop-filter: blur(1.0px);
-webkit-backdrop-filter: blur(1.0px);
transition: 0.5s;
transform-style: preserve-3d;
overflow: hidden;
margin-right: 25px;
margin-top: 15px;
border-radius: 5px;
}

.container:hover .box{
transform: rotateY(25deg);
}
.container .box:hover ~ .box{
  transform:rotateY(-25deg);
}
.container .box:hover {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(250, 205, 122, 0.788), inset 0 2px 21px rgba(250, 205, 122, 0.788) ;
  border: 1px solid rgba(250, 205, 122, 0.788);
}
.container .box::before{
  content: '';
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}
.container .box .content{
  padding: 10px;
  box-sizing: border-box;
}
 h5 {
  text-transform: capitalize;
  margin-bottom: 5px;
  font-size: 18px;
  transform: translateY(50px);
  transition: 0.5s;
  transition-delay: 0.3s;
}

 .box:hover h5 {
  transform: translateY(7px);
}

.image, .temperature{
  transition: 0.5s;
  transform: translateY(150px);
}


.forecast .box:hover .image{
  transform: translateY(35px);
  transition: 0.5s;
  transition-delay: 0.4s;
}

.forecast .box:hover .temperature {
  font-size: 20px;
  transform: translateY(100px);
  transition: 0.5s;
  transition-delay: 0.5s;
}




